<launch>
  <param name="/use_sim_time" value="true"/>

  <!-- Map server -->
<!--  <node name="map_server" pkg="map_server" type="map_server" args="$(find mrta)/config/maps/$(arg map_file) 0.01" respawn="false" /> -->

  <!-- Stage -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find mrta)/config/stage/$(arg world_file)" respawn="false" >
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>

  <!-- FKIE master discovery -->
  <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" output="screen" />

  <!-- FKIE master sync -->
  <node pkg="master_sync_fkie" type="master_sync" name="master_sync" output="screen">
<!--    <rosparam param="ignore_topic">[/robot_0/*, /robot_1/*, /robot_2/*]</rosparam> -->
    <rosparam param="ignore">
      ['/*map_server*',
       '/*fake_localization*',
       '/*move_base*',
       '/*robot_controller*',
       '/*stageros*']
    </rosparam>
  </node>

</launch>
