<launch>
  <param name="/use_sim_time" value="true"/>

  <!-- BEGIN ROBOT 2 -->
  <group ns="robot_2">
    <param name="tf_prefix" value="robot_2" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
      <remap from="map" to="/map" />
      <param name="controller_frequency" value="10.0" />
      <rosparam file="$(find multirobot_stage)/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find multirobot_stage)/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find multirobot_stage)/move_base_config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find multirobot_stage)/move_base_config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find multirobot_stage)/move_base_config/base_local_planner_params.yaml" command="load" />
    </node>

    <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
      <param name="odom_frame_id" value="robot_2/odom" />
      <param name="base_frame_id" value="robot_2/base_link" />
    </node>

    <node name="robot_controller" pkg="robot_controller" type="robot_controller.py" args="robot_2" output="screen" />

  </group>
  <!-- END ROBOT 2 -->

  <!-- FKIE master discovery -->
  <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" output="screen" />

  <!-- FKIE master sync -->
  <node pkg="master_sync_fkie" type="master_sync" name="master_sync" output="screen">
    <rosparam param="ignore_topic">[/robot_0/*, /robot_1/*]</rosparam>
  </node>

</launch>
