<launch>
  <arg name="robot_name" default="robot_1" />

  <param name="/use_sim_time" value="true"/>

  <!-- BEGIN ROBOT -->
  <group ns="$(arg robot_name)">
    <param name="tf_prefix" value="$(arg robot_name)" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
      <remap from="map" to="/map" />

      <param name="controller_frequency" value="10.0" />

      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

      <!--<rosparam param="clearing_rotation_allowed">false</rosparam>-->

      <rosparam file="$(find multirobot_stage)/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find multirobot_stage)/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find multirobot_stage)/move_base_config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find multirobot_stage)/move_base_config/global_costmap_params.yaml" command="load" />

      <rosparam file="$(find multirobot_stage)/move_base_config/base_local_planner_params.yaml" command="load" />

      <rosparam file="$(find multirobot_stage)/move_base_config/dwa_local_planner_params.yaml" command="load" />

    </node>

    <node pkg="fake_localization" type="fake_localization" name="fake_localization" respawn="false" output="screen">
      <param name="odom_frame_id" value="$(arg robot_name)/odom" />
      <param name="base_frame_id" value="$(arg robot_name)/base_link" />
    </node>

    <node name="robot_controller" pkg="robot_controller" type="robot_controller.py" args="$(arg robot_name)" output="screen" />

  </group>
  <!-- END ROBOT -->

  <!-- FKIE master discovery -->
  <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" output="screen" />

  <!-- FKIE master sync -->
  <node pkg="master_sync_fkie" type="master_sync" name="master_sync" output="screen">
    <!--<rosparam param="ignore_topic">[/robot_1/*, /robot_2/*]</rosparam>-->
  </node>

</launch>
