<launch>
  <param name="/use_sim_time" value="true"/>

  <!--<node name="auctioneer" pkg="auctioneer" type="auctioneer.py" args="SSI /home/eric/GIT/multirobot/ros/hydro/auctioneer/task_files/brooklyn_tasks_A.txt" output="screen">-->

  <node name="auctioneer" pkg="auctioneer" type="auctioneer.py" output="screen">
    <param name="task_file" value="$(find auctioneer)/task_files/$(arg task_file)" />
    <param name="mechanism" value="$(arg mechanism)" />
  </node>

  <!-- FKIE master discovery -->
  <!--<node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" output="screen" />-->
  <node pkg="master_discovery_fkie" type="zeroconf" name="master_discovery" output="screen" />

  <!-- FKIE master sync -->
  <node pkg="master_sync_fkie" type="master_sync" name="master_sync" output="screen">
    <rosparam param="sync_topics">
      [
      '/*/amcl_pose',
      '/experiment',
      '/tasks/*'
      ]
    </rosparam>
  </node>

</launch>
