<launch>
  <arg name="robot_name" default="robot_1" />
  <arg name="reallocate" default="False" />

  <!-- mrta_robot_controller
    Arguments:
      robot_name    - e.g. "robot_1"
      reallocate    - True/False: are we doing task reallocation?
      is_turtlebot  - True/False
    -->
  <node name="mrta_robot_controller_$(arg robot_name)" pkg="mrta_robot_controller" type="mrta_robot_controller_test" output="screen">
    <param name="robot_name" type="str" value="$(arg robot_name)" />
    <param name="reallocate" type="bool" value="$(arg reallocate)" />
    <param name="is_turtlebot" type="bool" value="True" />
    <param name="fault_type" type="str" value="None" />
  </node>

  <!-- FKIE master discovery -->
  <node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" output="screen">
    <rosparam param="robot_hosts">['']</rosparam>
    <param name="name" value="$(arg robot_name)_master"/>
  </node>


  <!-- FKIE master sync -->
  <node pkg="master_sync_fkie" type="master_sync" name="master_sync" output="screen">
    <rosparam param="sync_hosts">['auctioneer_master']</rosparam>
    <rosparam param="ignore_hosts">['robot_1','robot_1_master','robot_2','robot_2_master','robot_3','robot_3_master']</rosparam>
    <rosparam param="ignore_nodes">
[
'/*amcl*',
'/*joy_node*',
'/*camera/*',
'/*cmd_vel_mux*',
'/*map_server*',
'/*move_base*',
'/*robot_state_publisher*',
'/*teleop_twist_joy*',
'/*turtlebot3_core*',
'/*turtlebot3_lds*'
]
    </rosparam>
  </node>

</launch>
